.modal {
  &__overley {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
  }

  &__cont {
    position: absolute;
    right: 0;
    left: 0;
    display: inline-block;
    max-width: max-content;
    max-height: max-content;
    margin: auto;
    margin-top: 40px;
    border: 2px solid $black-50;
    border-radius: 4px;
  }

  &__title {
    margin: 0;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: rem(14);

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: -1;
      height: 30px;
      background: $black-50;
      content: '';
    }
  }

  &__menu {
    padding: 10px;
    background-color: white;
  }

  &__back {
    margin-bottom: 10px;
    color: $blue;
    font-size: rem(12);
    text-decoration: underline;

    &:hover {
      color: $blue-alpha;
    }
  }

  &__btn {
    text-align: right;
  }

  &__save {
    padding: 5px 20px;
    color: white;
    background-color: $blue;
    border-radius: 6px;

    &:hover {
      background-color: $blue-alpha;
    }
  }
}
